@tailwind base;
@tailwind components;
@tailwind utilities;

.custom_title {
  font-family: "Raleway", sans-serif;
  font-weight: 550;
}

.card {
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);
  background-color: rgba(17, 17, 17, 0.95);
  padding: 1rem;
  border: 0.0625rem solid #ffffff1a;
  border-radius: 0.625em;
  z-index: 2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #161616;
}

*::-webkit-scrollbar {
  width: 6px;
  background-color: #161616;
}

*::-webkit-scrollbar-thumb {
  /* background-color: #9ba1a6; */
  background: rgb(155, 161, 166);
  /* background: linear-gradient(
    180deg,
    rgba(22, 22, 22, 1) 9%,
    rgba(22, 22, 22, 1) 19%,
    rgba(155, 161, 166, 1) 55%,
    rgba(155, 161, 166, 1) 91%
  ); */
  border-radius: 20px;
}
