.nav_main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}

.nav_head {
  /* background: red; */
  height: 5em;
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.nav_head > h1 {
  /* transform: translateX(-2rem); */
}
